# EntityLivingBase
public net.minecraft.entity.EntityLivingBase field_110153_bc #lastDamage
public net.minecraft.entity.EntityLivingBase func_184583_d(Lnet/minecraft/util/DamageSource;)Z #canBlockDamageSource

# EntityPlayerSP
public net.minecraft.client.entity.EntityPlayerSP field_71156_d #sprintToggleTimer

# NetHandlerPlayServer
public net.minecraft.network.NetHandlerPlayServer field_147365_f #floatingTickCount